.DS_Store
node_modules/
coverage/
dist/
work/
bak/
tmp/
generated/

/.build-stage/

.terraform/
*.tfstate
src/auth.ts
*.log
*.bak
*.bak.*
*.tmp

yarn.lock
package-lock.json
.npmrc

.yalc/
yalc.lock

.vscode/
.tsc/
.eslintcache
